@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    background-color: bisque;
}

.btncls {
    border: 1px solid red;
    background-color: orange;
    width: 14rem;
    height: 5rem;
}

.democls {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    text-align: center;
}