body{
    background-image: url(../images/Screenshot\ 2026-01-03\ 154201.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 8%;
    background-position: center center;
    background-size: 100% 100%;
}
